<!-- _PartialView.cshtml -->
@using Lottery.DoMain.Models;
@using System;
@using Lottery.DoMain.Enum;
@model Tuple<List<CountByDay>, CountManyDayModel>
<style>
    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        padding: 8px;
        text-align: center;
        width: 20%;
    }

    th {
        background: #dee8fc;
    }

    td {
        /*color: #e3165b;*/
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .summary-title{
        font-size: 15px;
        text-align:center;
    }

    .div-table-summary-results{
        margin-top:5px;
        display:flex;
        flex-flow:column;
    }
    
</style>
<div class="div-summary-results">
    <div class="summary-title">
        <strong>Tổng Kết Lời Lỗ</strong>
    </div>
    @{
        <div class="div-table-summary-results">
            @if (Model.Item2.ToDate == null)
            {
                <strong style="font-size:13px; color:#e3165b;">
                    Ngày: @string.Format("{0}" , Model.Item2.FromDate.ToString("dd/MM/yyyy"))
                </strong>
            }
            else
            {
                <strong style="font-size:13px; color:#e3165b;">
                    Ngày: @string.Format("{0} - {1}" , Model.Item2.FromDate.ToString("dd/MM/yyyy"),Model.Item2.ToDate?.ToString("dd/MM/yyyy"))
                </strong>
            }
            
            @if (Model.Item1 == null || Model.Item1.Count == 0)
            {
                <div class="box-no-data-found">
                    <img src="~/lottery/empty-order/empty-order.png">
                    <span>Không có dữ liệu</span>
                </div>
            }
            else
            {
                <div class="table-summary-result">
                    <table>
                        <tr>
                            <th>K.Hàng</th>
                            <th>M.Nam</th>
                            <th>M.Trung</th>
                            <th>M.Bắc</th>
                            <th>T.Tiền</th>
                        </tr>
                        @foreach (CountByDay item in Model.Item1)
                        {
                            <tr>
                                @if (item.IsChu)
                                {
                                    <td>@string.Format("{0} {1}",@item.Name,"(chủ)")</td>
                                }
                                else
                                {
                                    <td>@string.Format("{0} {1}",@item.Name,"(khách)")</td>
                                }
                                <td>@item.MienNam</td>
                                <td>@item.MienTrung</td>
                                <td>@item.MienBac</td>
                                @if (item.Total > 0)
                                {
                                    <td style="color:blue;">@item.Total</td>
                                }
                                else if (item.Total < 0)
                                {
                                    <td style="color:red;">@item.Total</td>
                                }
                                else
                                {
                                    <td>@item.Total</td>
                                }
                            </tr>
                        }
                        @{
                            var sumTotal = Model.Item1.Sum(x => x.Total);
                            <td>
                                <strong></strong>
                            </td>
                            <td>
                                <strong>@Model.Item1.Sum(x=> x.MienNam)</strong>
                            </td>
                            <td>
                                <strong>@Model.Item1.Sum(x=> x.MienTrung)</strong>
                            </td>
                            <td>
                                <strong>@Model.Item1.Sum(x=> x.MienBac)</strong>
                            </td>
                            if (sumTotal > 0)
                            {
                                <td style="color:blue;">
                                    <strong>@sumTotal</strong>
                                </td>
                            }
                            else if (sumTotal < 0)
                            {
                                <td style="color:red;">
                                    <strong>@sumTotal</strong>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <strong>@sumTotal</strong>
                                </td>
                            }  
                        }
                    </table>
                </div>
            }
        </div>
    }
</div>