@using Lottery.DoMain.Constant;
@using Lottery.DoMain.Models;
@using Newtonsoft.Json;
@using Lottery.DoMain.Enum;
@using Lottery.DoMain.Extentions;
@{
    var serializedModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Item1);
}
@model Tuple<Dictionary<DateTime, List<CountByDay>>, CountManyDayModel>;
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/css/summaryManyDay.css" rel="stylesheet" />
    @*datetimepicker*@
    <link rel="stylesheet" type="text/css" href="~/assets/helpers/datetimepicker-master/jquery.datetimepicker.css" />
    <script src="~/assets/helpers/datetimepicker-master/jquery.datetimepicker.full.min.js"></script>
    <style>
        .container-summaryManyDay {
            padding: 10px;
        }

        .div-search-many-day {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap:10px;
        }

        .div-search-fromdate{
            display:flex;
            gap:3px;
        }

        .div-search-todate {
            display: flex;
            gap: 3px;
        }

        .box-input-date {
            background-color: white;
            box-sizing: border-box;
            border: 1px solid rgba(0,0,0,.14);
            border-radius: 2px;
            padding: 2px 10px 0 5px;
            overflow: hidden;
            outline: none;
            max-width:90px;
            display: inline-block;
        }

        .e-btn.e-primary, .e-css.e-btn.e-primary {
            width:100%;
        }
    </style>
</head>
<body>
    <div style="" class="container-summaryManyDay">
        <div class="div-search-many-day">
            <div class="div-search-fromdate">
                <strong style="margin-top: 5px;">Từ:</strong>
                <input id="input_fromdate" type="text" class="box-input-date" disabled="disabled" value="@Model.Item2.FromDate.ToString("dd/MM/yyyy")">
            </div>
            <div class="div-search-todate">
                <strong style="margin-top: 5px;">Đến:</strong>
                <input id="input_todate" type="text" class="box-input-date" disabled="disabled" value="@Model.Item2.ToDate.ToString("dd/MM/yyyy")">
            </div>
            <div class="div-btn-search">
                <button onclick="searchDataSummary()" id="search_data"></button>
            </div>
        </div>
        <div style="margin-top:25px;" id="div_summary_results">
        </div>
        <input id="fromdatetimepicker" style="display:none;" type="text">
        <input id="todatetimepicker" style="display:none;" type="text">
    </div>
    <script>
        var model = @Html.Raw(serializedModel);
        var buttonSearch_data;
        $(document).ready(function () {
            buttonSearch_data = new ej.buttons.Button({ isPrimary: true, content: "Tìm kiếm", disabled: false });
            buttonSearch_data.appendTo('#search_data');
            dicSummaryJson = JSON.stringify(model);
            getPartialViewSummary(dicSummaryJson);
        });
        jQuery.datetimepicker.setLocale('vi');
        jQuery('#fromdatetimepicker').datetimepicker({
            timepicker: false,
            value: '@Model.Item2.FromDate.ToString("yyyy/MM/dd HH:mm")'
        });
        jQuery('#todatetimepicker').datetimepicker({
            timepicker: false,
            value: '@Model.Item2.ToDate.ToString("yyyy/MM/dd HH:mm")'
        });
        $('button.somebutton').on('click', function () {
            $('#datetimepicker').datetimepicker('show');
        });
        $('#datetimepicker').on('change', function () {
            var dateString = $(this).val();
            window.location.href = `/SummaryResults/SummaryByDay?strDateTime=${dateString}`;
        });
        function getPartialViewSummary(dicSummaryJson) {
            var url = '@Url.Action("GetPartialViewSummary", "SummaryResults")';
            $('#div_summary_results').load(url, { dicSummaryModelJson: dicSummaryJson }, function (response, status, xhr) { });
        }
    </script>
</body>
</html>