<!-- _PartialView.cshtml -->
@using Lottery.DoMain.Models;
@using System;
@using Lottery.DoMain.Enum;
@model Cal3DetailDto
<style>

    .trungDetail-messages {
        display:flex;
        flex-flow:column;
        color: #e3165b;
    }

    .parameter-messages {
        padding: 15px 10px 10px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        color: #e3165b;
    }

        .parameter-messages div {
            display: flex;
            flex-flow: column;
            gap: 2px;
        }

            .parameter-messages div .title {
                font-size: 16px;
                margin-bottom: 2px;
                text-decoration: underline;
            }
        
    table {
      font-family: Arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      padding: 8px;
      text-align:center;
      width: 25%;
    }
    
    th{
        background:#dee8fc;
    }

    td{
        /*color: #e3165b;*/
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

</style>
<div id="div_success_message" class="div-success-message">
    <div class="parameter-success-messages">
        <div class="trungDetail-messages">
            @{
                if (Model.TrungDetail != null)
                {
                    foreach (var str in Model.TrungDetail)
                    {
                        <span>
                            @str
                        </span>
                    }
                }
            }
        </div>
        <div class="parameter-messages">
            <div>
                <div class="div-xac">
                    <span>
                        2CB:
                        <strong>@Model.Xac.HaiCB</strong>
                    </span>
                    <span>
                        2CĐ:
                        <strong>@Model.Xac.HaiCD</strong>
                    </span>
                    <span>
                        ĐáT:
                        <strong>@Model.Xac.DaT</strong>
                    </span>
                    <span>
                        ĐáX:
                        <strong>@Model.Xac.DaX</strong>
                    </span>
                    <span>
                        3C:
                        <strong>@Model.Xac.BaCon</strong>
                    </span>
                    <span>
                        4C:
                        <strong>@Model.Xac.BonCon</strong>
                    </span>
                </div>
            </div>
            <div>
            </div>
            <div>
                <div class="div-trung">
                    <span>
                        2CB:
                        <strong>@Model.Trung.HaiCB</strong>
                    </span>
                    <span>
                        2CĐ:
                        <strong>@Model.Trung.HaiCD</strong>
                    </span>
                    <span>
                        ĐáT:
                        <strong>@Model.Trung.DaT</strong>
                    </span>
                    <span>
                        ĐáX:
                        <strong>@Model.Trung.DaX</strong>
                    </span>
                    <span>
                        3C:
                        <strong>@Model.Trung.BaCon</strong>
                    </span>
                    <span>
                        4C:
                        <strong>@Model.Trung.BonCon</strong>
                    </span>
                </div>
            </div>
        </div>
        <div class="table-messages-detail">
            @{
                if(Model.Details != null)
                {
                    <table>
                        <tr>
                          <th>Đài</th>
                          <th>Số</th>
                          <th>CChơi</th>
                          <th>STiền</th>
                        </tr>
                        @foreach (var item in Model.Details)
                        {
                            if (item.SlTrung > 0)
                            {
                                <tr style="color:#e3165b;">
                                    <td>@item.Dai</td>
                                    <td>@string.Join(", ", item.So)</td>
                                    <td>@Enum.GetName(typeof(CachChoiEnum), @item.CachChoi)</td>
                                    <td>@item.SoTien</td>
                                </tr>
                            }
                            else
                            {
                                 <tr>
                                    <td>@item.Dai</td>
                                    <td>@string.Join(", ", item.So)</td>
                                    <td>@Enum.GetName(typeof(CachChoiEnum), @item.CachChoi)</td>
                                    <td>@item.SoTien</td>
                                </tr>
                            }

                        }
                    </table>
                }
            }
        </div>
    </div>
</div>