@using Lottery.DoMain.Constant;
@using Newtonsoft.Json;
@using Lottery.DoMain.Enum;
@using Lottery.DoMain.Models;
@using Lottery.DoMain.Extentions;
@model MessgeByDay
@{
    Layout = null;
    var serializedMessgeByDaySession = Newtonsoft.Json.JsonConvert.SerializeObject(Model.MessgeByDaySession);
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/messagesByDay.css?v=@Default.VersionApp" rel="stylesheet" />
    <script src="~/Scripts/jquery/jquery-3.3.1.js"></script>
    <script src="~/js/constant.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/site.css?v=@Default.VersionApp" rel="stylesheet" />
    @*master-plan*@
    <script src="~/assets/helpers/master-plan/adr_common.js"></script>
    <script src="~/assets/helpers/master-plan/iosOverlay.js"></script>
    <link href="~/assets//helpers/master-plan/style.css" rel="stylesheet" />
    @*cssscript*@
    <script src="~/assets/helpers/awesome-alert-main/awesomealert.js"></script>
    <link rel="stylesheet" href="~/assets/helpers/awesome-alert-main/style.css" />
    <link rel="stylesheet" href="~/assets/helpers/toastinette-notification-main/assets/css/toastinette.min.css">
    <script src="~/assets/helpers/toastinette-notification-main/assets/js/toastinette.js"></script>
    @*Syncfusion*@
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-base/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-inputs/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-dropdowns/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-buttons/styles/material.css" rel="stylesheet">
    <script src="https://cdn.syncfusion.com/ej2/22.2.5/dist/ej2.min.js" type="text/javascript"></script>
    <script src="https://cdn.syncfusion.com/ej2/syncfusion-helper.js" type="text/javascript"></script>
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">*@
    @*datetimepicker*@
    <link rel="stylesheet" type="text/css" href="~/assets/helpers/datetimepicker-master/jquery.datetimepicker.css" />
    <script src="~/assets/helpers/datetimepicker-master/jquery.datetimepicker.full.min.js"></script>
    <style>
        .border-bottom-row {
            margin-top: 0px;
            margin-bottom: 5px !important;
        }
    </style>
</head>
<body>
    <header class="header-page">
        <div class="title-page">
            <div onclick="window.location.href='/Phonebook/RegionPlayer?region=@Model.MessgeByDaySession.Region';" class="title-page-text">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                @{
                    string titlePage = string.Empty;
                    switch (Model.MessgeByDaySession.Region)
                    {
                        case (int)RegionEnum.MienNam:
                            titlePage = RegionEnum.MienNam.GetDescription();
                            break;
                        case (int)RegionEnum.MienTrung:
                            titlePage = RegionEnum.MienTrung.GetDescription();
                            break;
                        default:
                            titlePage = RegionEnum.MienBac.GetDescription();
                            break;
                    }
                    @titlePage;
                }
            </div>
            <div onclick="window.location.href='/PlayerMessages/ListMessages?messgeByDaySessionModelJson=@serializedMessgeByDaySession';" style="text-align: center;" class="title-page-text">
                Xử lý TN
            </div>
            <div onclick="window.location.reload();" style="text-align: center;" class="title-page-text">
                Cập nhật TN
            </div>
            <button class="somebutton title-page-btn">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>
        </div>
    </header>
    <div class="container-messagesByDay">
        <div class="synthesis-messages">
            <div class="synthesis-parameter-messages">
                <div class="div-xac">
                    <strong class="title">Xác</strong>
                    @if (@Model.Total.Xac.HaiCB > 0)
                    {
                        <span>
                            2CB:
                            <strong>@Model.Total.Xac.HaiCB</strong>
                        </span>
                    }
                    @if (@Model.Total.Xac.HaiCD > 0)
                    {
                        <span>
                            2CĐ:
                            <strong>@Model.Total.Xac.HaiCD</strong>
                        </span>
                    }
                    @if (@Model.Total.Xac.DaT > 0)
                    {
                        <span>
                            ĐáT:
                            <strong>@Model.Total.Xac.DaT</strong>
                        </span>
                    }
                    @if (@Model.Total.Xac.DaX > 0)
                    {
                        <span>
                            ĐáX:
                            <strong>@Model.Total.Xac.DaX</strong>
                        </span>
                    }
                    @if (@Model.Total.Xac.BaCon > 0)
                    {
                        <span>
                            3C:
                            <strong>@Model.Total.Xac.BaCon</strong>
                        </span>
                    }
                    @if (@Model.Total.Xac.BonCon > 0)
                    {
                        <span>
                            4C:
                            <strong>@Model.Total.Xac.BonCon</strong>
                        </span>
                    }
                </div>
                <div class="div-quaCo">
                    <strong class="title">Qua Cò</strong>
                    @if (@Model.Total.Xac.HaiCB > 0 || @Model.Total.Xac.HaiCD > 0 || @Model.Total.Xac.DaT > 0 || @Model.Total.Xac.DaX > 0)
                    {
                        <span>
                            2CB:
                            <strong>@Model.Total.QuaCo.HaiCon</strong>
                        </span>
                    }
                    @if (@Model.Total.Xac.BaCon > 0)
                    {
                        <span>
                            3C:
                            <strong>@Model.Total.QuaCo.BaCon</strong>
                        </span>
                    }
                    @if (@Model.Total.Xac.BonCon > 0)
                    {
                        <span>
                            4C:
                            <strong>@Model.Total.QuaCo.BonCon</strong>
                        </span>
                    }
                </div>
                <div class="div-trung">
                    <strong class="title">Trúng</strong>
                    @if (@Model.Total.Xac.HaiCB > 0)
                    {
                        <span>
                            2CB:
                            <strong>@Model.Total.Trung.HaiCB</strong>
                        </span>
                    }
                    @if (@Model.Total.Xac.HaiCD > 0)
                    {
                        <span>
                            2CĐ:
                            <strong>@Model.Total.Trung.HaiCD</strong>
                        </span>
                    }
                    @if (@Model.Total.Xac.DaT > 0)
                    {
                        <span>
                            ĐáT:
                            <strong>@Model.Total.Trung.DaT</strong>
                        </span>
                    }
                    @if (@Model.Total.Xac.DaX > 0)
                    {
                        <span>
                            ĐáX:
                            <strong>@Model.Total.Trung.DaX</strong>
                        </span>
                    }
                    @if (@Model.Total.Xac.BaCon > 0)
                    {
                        <span>
                            3C:
                            <strong>@Model.Total.Trung.BaCon</strong>
                        </span>
                    }
                    @if (@Model.Total.Xac.BonCon > 0)
                    {
                        <span>
                            4C:
                            <strong>@Model.Total.Trung.BonCon</strong>
                        </span>
                    }
                    
                </div>
            </div>
            <div class="synthesis-result-messages">
                <span>
                    Ngày: @Model.MessgeByDaySession.HandlDate?.ToString("dd/MM/yyyy")
                </span>
                @{
                    if (@Model.IsThu)
                    {
                        <span>
                            <span style="color:blue;font-weight:700;font-size: 17px;">
                                Thu:
                            </span>
                            @Model.Message
                        </span>
                    }
                    else
                    {
                        <span>
                            <span style="color:red;font-weight:700;font-size: 17px;">
                                Bù:
                            </span>
                            @Model.Message
                        </span>
                    }
                }
                
            </div>
        </div>
        <div style="overflow:auto;height:85vh">
            @{
                int marginTop = 200;
                int distance = 20;
                if (@Model.Total.Xac.HaiCB <= 0)
                {
                    marginTop = marginTop - distance;
                }
                if (@Model.Total.Xac.HaiCD <= 0 )
                {
                    marginTop = marginTop - distance;
                }
                 if (@Model.Total.Xac.DaT <= 0)
                {
                    marginTop = marginTop - distance;
                }
                if (@Model.Total.Xac.DaX <= 0)
                {
                    marginTop = marginTop - distance;
                }
                if (@Model.Total.Xac.BaCon <= 0)
                {
                    marginTop = marginTop - distance;
                }
                if (@Model.Total.Xac.BonCon <= 0)
                {
                    marginTop = marginTop - distance;
                }

                string strMarginTop = marginTop + "px";
            }
            <div style="margin-top:@strMarginTop;" class="list-detailMessage-messages">
            @{
                 if (Model.DetailMessage == null || Model.DetailMessage.Count == 0)
                 {
                     <div class="box-no-data-found">
                         <img src="~/lottery/empty-order/empty-order.png">
                         <span>Không có tin nhắn</span>
                     </div>
                 }
                 else
                 {
                     int count = 0;
                     foreach (var item in Model.DetailMessage)
                     {
                         count = count + 1;
                         //var serializedDetailMessage = Newtonsoft.Json.JsonConvert.SerializeObject(item);
                         <div onclick="window.location.href='/PlayerMessages/ShowMessagesDetail?messgeByDaySessionModelJson=@serializedMessgeByDaySession&iDMessage=@item.ID';" class="content-messages" style="cursor:pointer;">
                             <span>
                                 <strong style="color:#e3165b;">@count)</strong>
                                 @item.Message
                             </span>
                         </div>
                         <div onclick="window.location.href='/PlayerMessages/ShowMessagesDetail?messgeByDaySessionModelJson=@serializedMessgeByDaySession&iDMessage=@item.ID';" class="parameter-messages" style="cursor:pointer;">
                             <div>
                                 <div class="div-xac">
                                     @*<strong class="title">Xác</strong>*@
                                     @if (@item.Xac.HaiCB > 0)
                                     {
                                         <span>
                                             2CB:
                                             <strong>@item.Xac.HaiCB</strong>
                                         </span>
                                     }
                                     @if (@item.Xac.HaiCD > 0)
                                     {
                                         <span>
                                             2CĐ:
                                             <strong>@item.Xac.HaiCD</strong>
                                         </span>
                                     }
                                     @if (@item.Xac.DaT > 0)
                                     {
                                         <span>
                                             ĐáT:
                                             <strong>@item.Xac.DaT</strong>
                                         </span>
                                     }
                                     @if (@item.Xac.DaX > 0)
                                     {
                                         <span>
                                             ĐáX:
                                             <strong>@item.Xac.DaX</strong>
                                         </span>
                                     }
                                     @if (@item.Xac.BaCon > 0)
                                     {
                                         <span>
                                             3C:
                                             <strong>@item.Xac.BaCon</strong>
                                         </span>
                                     }
                                     @if (@item.Xac.BonCon > 0)
                                     {
                                         <span>
                                             4C:
                                             <strong>@item.Xac.BonCon</strong>
                                         </span>
                                     }
                                 </div>
                             </div>
                             <div>
                             </div>
                             <div>
                                 <div class="div-trung">
                                     @*<strong class="title">Xác</strong>*@
                                     @if (@item.Xac.HaiCB > 0)
                                     {
                                         <span>
                                             2CB:
                                             <strong>@item.Trung.HaiCB</strong>
                                         </span>
                                     }
                                     @if (@item.Xac.HaiCD > 0)
                                     {
                                         <span>
                                             2CĐ:
                                             <strong>@item.Trung.HaiCD</strong>
                                         </span>
                                     }
                                     @if (@item.Xac.DaT > 0)
                                     {
                                         <span>
                                             ĐáT:
                                             <strong>@item.Trung.DaT</strong>
                                         </span>
                                     }
                                     @if (@item.Xac.DaX > 0)
                                     {
                                         <span>
                                             ĐáX:
                                             <strong>@item.Trung.DaX</strong>
                                         </span>
                                     }
                                     @if (@item.Xac.BaCon > 0)
                                     {
                                         <span>
                                             3C:
                                             <strong>@item.Trung.BaCon</strong>
                                         </span>
                                     }
                                     @if (@item.Xac.BonCon > 0)
                                     {
                                         <span>
                                             4C:
                                             <strong>@item.Trung.BonCon</strong>
                                         </span>
                                     }                                   
                                 </div>
                             </div>
                         </div>
                         if (count < Model.DetailMessage.Count)
                         {
                             <div style="margin-bottom:10px;" class="border-bottom-row"></div>
                         }
                     }
                 }
             }
        </div>
        </div>
        <button onclick="goToAddPlayerMessagesPage()" class="floating-button">+</button>
        <input id="datetimepicker" style="display:none;" type="text">
    </div>
    
    <script>  
        $(document).ready(function () {
            //showToasinette_Success_Top_Right("Cập nhật thành công!");
        });
        var modelMessgeByDayData = @Html.Raw(serializedMessgeByDaySession);
        jQuery.datetimepicker.setLocale('vi');
        jQuery('#datetimepicker').datetimepicker({
            timepicker: false,
            value: '@Model.MessgeByDaySession.HandlDate?.ToString("yyyy/MM/dd HH:mm")'
        });
        $('button.somebutton').on('click', function () {
            $('#datetimepicker').datetimepicker('show');
        });
        $('#datetimepicker').on('change', function () {
            var dateString = $(this).val();
            //var date = new Date(dateString);
            //var formattedDate = date.toLocaleString(); 
            window.location.href = `/PlayerMessages/MessagesByDay?idPlayer=${modelMessgeByDayData.IdPlayer}&namePlayer=${modelMessgeByDayData.NamePlayer}&region=${modelMessgeByDayData.Region}&cachTrungDaThang=${modelMessgeByDayData.CachTrungDaThang}&cachTrungDaXien=${modelMessgeByDayData.CachTrungDaXien}&strDateTime=${dateString}`;
        });
        function goToAddPlayerMessagesPage(){
            window.location.href = `/PlayerMessages/AddPlayerMessages?idPlayer=${modelMessgeByDayData.IdPlayer}&namePlayer=${modelMessgeByDayData.NamePlayer}&region=${modelMessgeByDayData.Region}&cachTrungDaThang=${modelMessgeByDayData.CachTrungDaThang}&cachTrungDaXien=${modelMessgeByDayData.CachTrungDaXien}&dateTime=@Model.MessgeByDaySession.HandlDate`;
        }
    </script>
</body>
</html>