@using Lottery.DoMain.Constant;
@using Newtonsoft.Json;
@using Lottery.DoMain.Enum;
@using Lottery.DoMain.Models;
@using Lottery.DoMain.Extentions;
@model MessgeByDay
@{
    Layout = null;
    //var serializedModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/messagesByDay.css" rel="stylesheet" />
    <script src="~/Scripts/jquery/jquery-3.3.1.js"></script>
    <script src="~/js/constant.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    @*master-plan*@
    <script src="~/assets/helpers/master-plan/adr_common.js"></script>
    <script src="~/assets/helpers/master-plan/iosOverlay.js"></script>
    <link href="~/assets//helpers/master-plan/style.css" rel="stylesheet" />
    @*cssscript*@
    <script src="~/assets/helpers/awesome-alert-main/awesomealert.js"></script>
    <link rel="stylesheet" href="~/assets/helpers/awesome-alert-main/style.css" />
    @*Syncfusion*@
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-base/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-inputs/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-dropdowns/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-buttons/styles/material.css" rel="stylesheet">
    <script src="https://cdn.syncfusion.com/ej2/22.2.5/dist/ej2.min.js" type="text/javascript"></script>
    <script src="https://cdn.syncfusion.com/ej2/syncfusion-helper.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <style>

        .container-messagesByDay{
            padding-top: 40px;
        }

        .title-page {
            padding: 3px 10px 3px 5px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 0.5fr;
            font-size: 16px;
        }

        .title-page-text {
            margin-top: 12px;
            cursor: pointer;
        }

        .synthesis-messages {
            padding: 15px 10px 10px 20px;
            background-color: #dee8fc;
            position: fixed;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            z-index: 1000;
        }

        .synthesis-parameter-messages {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .synthesis-parameter-messages div {
                display: flex;
                flex-flow: column;
                gap: 2px;
            }

                .synthesis-parameter-messages div .title {
                    font-size: 16px;
                    margin-bottom: 2px;
                    text-decoration: underline;
                }
        
        .synthesis-result-messages{
            margin-top:20px;
            display: flex;
            flex-flow: column;
            gap: 2px;
            color:#e3165b;
            font-weight:600;
        }

        .list-detailMessage-messages {
            margin-top:220px;
            padding:5px;
        }

        .parameter-messages {
            padding: 15px 10px 10px 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            color: #e3165b;
        }

            .parameter-messages div {
                display: flex;
                flex-flow: column;
                gap: 2px;
            }

                .parameter-messages div .title {
                    font-size: 16px;
                    margin-bottom: 2px;
                    text-decoration: underline;
                }

        .floating-button {
            position: fixed;
            bottom: 20px;
            right: calc(100%/2 - 300px + 20px);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #e3165b;
            color: white;
            text-align: center;
            font-size: 24px;
            /*line-height: 50px;*/
            border: none;
            z-index: 999;
        }
     
    </style>
</head>
<body>
    <header class="header-page">
        <div class="title-page">
            <div onclick="window.location.href='/Phonebook/RegionPlayer?region=@ViewBag.Region';" class="title-page-text">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                @{
                    string titlePage = string.Empty;
                    switch (ViewBag.Region)
                    {
                        case (int)RegionEnum.MienNam:
                            titlePage = RegionEnum.MienNam.GetDescription();
                            break;
                        case (int)RegionEnum.MienTrung:
                            titlePage = RegionEnum.MienTrung.GetDescription();
                            break;
                        default:
                            titlePage = RegionEnum.MienBac.GetDescription();
                            break;
                    }
                    @titlePage;
                }
            </div>
            <div style="text-align: center;" class="title-page-text">
                Xử lý TN
            </div>
            <div style="text-align: center;" class="title-page-text">
                Cập nhật TN
            </div>
            <button class="title-page-btn">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>
        </div>
    </header>
    <div class="container-messagesByDay">
        <div class="synthesis-messages">
            <div class="synthesis-parameter-messages">
                <div class="div-xac">
                    <strong class="title">Xác</strong>
                    <span>
                        2CB:
                        <strong>@Model.Total.Xac.HaiCB</strong>
                    </span>
                    <span>
                        2CĐ:
                        <strong>@Model.Total.Xac.HaiCD</strong>
                    </span>
                    <span>
                        ĐáT:
                        <strong>@Model.Total.Xac.DaT</strong>
                    </span>
                    <span>
                        ĐáX:
                        <strong>@Model.Total.Xac.DaX</strong>
                    </span>
                    <span>
                        3C:
                        <strong>@Model.Total.Xac.BaCon</strong>
                    </span>
                    <span>
                        4C:
                        <strong>@Model.Total.Xac.BonCon</strong>
                    </span>
                </div>
                <div class="div-quaCo">
                    <strong class="title">Qua Cò</strong>
                    <span>
                        2CB:
                        <strong>@Model.Total.QuaCo.HaiCon</strong>
                    </span>
                    <span>
                        3C:
                        <strong>@Model.Total.QuaCo.BaCon</strong>
                    </span>
                    <span>
                        4C:
                        <strong>@Model.Total.QuaCo.BonCon</strong>
                    </span>
                </div>
                <div class="div-trung">
                    <strong class="title">Trúng</strong>
                    <span>
                        2CB:
                        <strong>@Model.Total.Trung.HaiCB</strong>
                    </span>
                    <span>
                        2CĐ:
                        <strong>@Model.Total.Trung.HaiCD</strong>
                    </span>
                    <span>
                        ĐáT:
                        <strong>@Model.Total.Trung.DaT</strong>
                    </span>
                    <span>
                        ĐáX:
                        <strong>@Model.Total.Trung.DaX</strong>
                    </span>
                    <span>
                        3C:
                        <strong>@Model.Total.Trung.BaCon</strong>
                    </span>
                    <span>
                        4C:
                        <strong>@Model.Total.Trung.BonCon</strong>
                    </span>
                </div>
            </div>
            <div class="synthesis-result-messages">
                <span>
                    Ngày: @Model.HandlDate.ToString("dd/MM/yyyyy")
                </span>
                @{
                    if (@Model.IsThu)
                    {
                        <span>
                            <span style="color:blue;font-weight:700;font-size: 18px;">
                                Thu:
                            </span>
                            @Model.Message
                        </span>
                    }
                    else
                    {
                        <span>
                            <span style="color:red;font-weight:700;font-size: 18px;">
                                Bù:
                            </span>
                            @Model.Message
                        </span>
                    }
                }
                
            </div>
        </div>
        <div class="list-detailMessage-messages">
            @{
                if(Model.DetailMessage != null)
                {
                    int count = 0;
                    foreach(var item in Model.DetailMessage)
                    {
                        count = count + 1;
                        <div class="content-messages">
                            <span>
                                <strong style="color:#e3165b;">@count)</strong>
                                    @item.Message
                            </span>
                        </div>
                        <div class="parameter-messages">
                            <div>
                                <div class="div-xac">
                                    @*<strong class="title">Xác</strong>*@
                                    <span>
                                        2CB:
                                        <strong>@item.CalDetail.Xac.HaiCB</strong>
                                    </span>
                                    <span>
                                        2CĐ:
                                        <strong>@item.CalDetail.Xac.HaiCD</strong>
                                    </span>
                                    <span>
                                        ĐáT:
                                        <strong>@item.CalDetail.Xac.DaT</strong>
                                    </span>
                                    <span>
                                        ĐáX:
                                        <strong>@item.CalDetail.Xac.DaX</strong>
                                    </span>
                                    <span>
                                        3C:
                                        <strong>@item.CalDetail.Xac.BaCon</strong>
                                    </span>
                                    <span>
                                        4C:
                                        <strong>@item.CalDetail.Xac.BaCon</strong>
                                    </span>
                                </div>
                            </div>                   
                             <div>
                               
                            </div>
                             <div>
                                <div class="div-trung">
                                    @*<strong class="title">Xác</strong>*@
                                    <span>
                                        2CB:
                                        <strong>@item.CalDetail.Trung.HaiCB</strong>
                                    </span>
                                    <span>
                                        2CĐ:
                                        <strong>@item.CalDetail.Trung.HaiCD</strong>
                                    </span>
                                    <span>
                                        ĐáT:
                                        <strong>@item.CalDetail.Trung.DaT</strong>
                                    </span>
                                    <span>
                                        ĐáX:
                                        <strong>@item.CalDetail.Trung.DaX</strong>
                                    </span>
                                    <span>
                                        3C:
                                        <strong>@item.CalDetail.Trung.BaCon</strong>
                                    </span>
                                    <span>
                                        4C:
                                        <strong>@item.CalDetail.Trung.BonCon</strong>
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <button class="floating-button">+</button>
    </div>
    <script>
       
    </script>
</body>
</html>