@using Lottery.DoMain.Constant;
@using Newtonsoft.Json;
@using Lottery.DoMain.Enum;
@using Lottery.DoMain.Models;
@model Phonebook
@{
    Layout = null;
    var serializedModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/executePlayer.css" rel="stylesheet" />
    <script src="~/Scripts/jquery/jquery-3.3.1.js"></script>
    <script src="~/js/constant.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    @*master-plan*@
    <script src="~/assets/helpers/master-plan/adr_common.js"></script>
    <script src="~/assets/helpers/master-plan/iosOverlay.js"></script>
    <link href="~/assets//helpers/master-plan/style.css" rel="stylesheet" />
    @*cssscript*@
    <script src="~/assets/helpers/awesome-alert-main/awesomealert.js"></script>
    <link rel="stylesheet" href="~/assets/helpers/awesome-alert-main/style.css" />
    @*Syncfusion*@
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-base/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-inputs/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-dropdowns/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-buttons/styles/material.css" rel="stylesheet">
    <script src="https://cdn.syncfusion.com/ej2/22.2.5/dist/ej2.min.js" type="text/javascript"></script>
    <script src="https://cdn.syncfusion.com/ej2/syncfusion-helper.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <style>

        input {
            padding: 0px 0px 0px 5px;
        }

        .e-checkbox-wrapper .e-frame + .e-label, .e-css.e-checkbox-wrapper .e-frame + .e-label {
            margin-left: 10px;
            font-size: 15px;
        }

        .container-executePlayer {
            padding-top: 50px;
        }

    </style>
</head>
<body>
    <header class="header-page">
        <div class="title-page">
            <div onclick="window.location.href='/Phonebook/ListPlayer';" class="title-page-goback">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                Danh bạ
            </div>
            <button type="submit" form="executePlayerForm" class="title-page-btn">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
        </div>
    </header>
    <div class="container-executePlayer">
        <div class="wrapper">
            <form id="executePlayerForm" action="#">
                <div style="display:none;" class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Id:
                        </span>
                        <input type="text" tabindex="1" id="cr_id" value="@(string.IsNullOrEmpty(Model.Name) ? "" : Model.Id)">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Tên:
                        </span>
                        <input type="text" tabindex="1" id="cr_name" required value="@Model.Name">
                    </div>
                    <div class="row row-input-val">
                        <span>
                            SDT:
                        </span>
                        <input type="text" tabindex="1" id="cr_phoneNumber" value="@Model.PhoneNumber">
                    </div>
                </div>
                <div class="div-row-input-val div-row-input-val-radio">
                    <input type="radio" id="cr_isKhach">
                    <input type="radio" id="cr_isChu">
                </div>
                @*Miền Nam*@
                <div class="div-row-input-val div-row-span-title">
                    <span>**Miền Nam**</span>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò hai con bao:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_nCoBaoHaiCon" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.NCoBaoHaiCon)">
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng hai con bao:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_nTrungBaoHaiCon" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.NTrungBaoHaiCon)">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Hai con đầu đui:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_nCoHaiConDD" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.NCoHaiConDD)">
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng hai con đầu đui:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_nTrungHaiConDD" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.NTrungHaiConDD)">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò đá thẳng:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_nCoDaThang" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.NCoDaThang)">
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng đá thẳng:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_nTrungDaThang" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.NTrungDaThang)">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            <span>Cách trúng đá thẳng:</span>
                        </span>
                        <div class="div-row-radio-cach-trung">
                            <input type="radio" id="cr_nCachTrungDaThang_motLan">
                            <input type="radio" id="cr_nCachTrungDaThang_kyRuoi">
                            <input type="radio" id="cr_nCachTrungDaThang_nhieuCap">
                        </div>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò đá xiên:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_nCoDaXien" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.NCoDaXien)">
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trung xiên:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_nTrungDaXien" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.NTrungDaXien)">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            <span>Cách trúng đá xiên:</span>
                        </span>
                        <div class="div-row-radio-cach-trung">
                            <input type="radio" id="cr_nCachTrungDaXien_motLan">
                            <input type="radio" id="cr_nCachTrungDaXien_kyRuoi">
                            <input type="radio" id="cr_nCachTrungDaXien_nhieuCap">
                        </div>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò ba con:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_nCoBaCon" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.NCoBaCon)">
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng ba con:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_nTrungBaCon" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.NTrungBaCon)">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò bốn con:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_nCoBonCon" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.NCoBonCon)">
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng bốn con:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_nTrungBonCon" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.NTrungBonCon)">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Phần trăm tổng:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_nPhanTramTong" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.NPhanTramTong)">
                    </div>
                </div>
                @*Miền Trung*@
                <div class="div-row-input-val div-row-span-title">
                    <span>**Miền Trung**</span>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò hai con bao:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_tCoBaoHaiCon" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.TCoBaoHaiCon)">
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng hai con bao:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_tTrungBaoHaiCon" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.TTrungBaoHaiCon)">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Hai con đầu đui:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_tCoHaiConDD" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.TCoHaiConDD)">
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng hai con đầu đui:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_tTrungHaiConDD" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.TTrungHaiConDD)">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò đá thẳng:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_tCoDaThang" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.TCoDaThang)">
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng đá thẳng:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_tTrungDaThang" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.TTrungDaThang)">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            <span>Cách trúng đá thẳng:</span>
                        </span>
                        <div class="div-row-radio-cach-trung">
                            <input type="radio" id="cr_tCachTrungDaThang_motLan">
                            <input type="radio" id="cr_tCachTrungDaThang_kyRuoi">
                            <input type="radio" id="cr_tCachTrungDaThang_nhieuCap">
                        </div>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò đá xiên:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_tCoDaXien" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.TCoDaXien)">
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trung xiên:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_tTrungDaXien" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.TTrungDaXien)">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            <span>Cách trúng đá xiên:</span>
                        </span>
                        <div class="div-row-radio-cach-trung">
                            <input type="radio" id="cr_tCachTrungDaXien_motLan">
                            <input type="radio" id="cr_tCachTrungDaXien_kyRuoi">
                            <input type="radio" id="cr_tCachTrungDaXien_nhieuCap">
                        </div>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò ba con:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_tCoBaCon" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.TCoBaCon)">
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng ba con:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_tTrungBaCon" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.TTrungBaCon)">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò bốn con:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_tCoBonCon" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.TCoBonCon)">
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng bốn con:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_tTrungBonCon" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.TTrungBonCon)">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Phần trăm tổng:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_tPhanTramTong" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.TPhanTramTong)">
                    </div>
                </div>
                @*Miền Bắc*@
                <div class="div-row-input-val div-row-span-title">
                    <span>**Miền Bắc**</span>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò hai con bao:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_bCoBaoHaiCon" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.BCoBaoHaiCon)">
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng hai con bao:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_bTrungBaoHaiCon" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.BTrungBaoHaiCon)">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Hai con đầu đui:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_bCoHaiConDD" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.BCoHaiConDD)">
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng hai con đầu đui:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_bTrungHaiConDD" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.BTrungHaiConDD)">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò đá thẳng:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_bCoDaThang" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.BCoDaThang)">
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng đá thẳng:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_bTrungDaThang" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.BTrungDaThang)">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            <span>Cách trúng đá thẳng:</span>
                        </span>
                        <div class="div-row-radio-cach-trung">
                            <input type="radio" id="cr_bCachTrungDaThang_motLan">
                            <input type="radio" id="cr_bCachTrungDaThang_kyRuoi">
                            <input type="radio" id="cr_bCachTrungDaThang_nhieuCap">
                        </div>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò ba con:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_bCoBaCon" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.BCoBaCon)">
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng ba con:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_bTrungBaCon" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.BTrungBaCon)">
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Cò bốn con:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_bCoBonCon" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.BCoBonCon)">
                    </div>
                    <div class="row row-input-val">
                        <span>
                            Trúng bốn con:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_bTrungBonCon" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.BTrungBonCon)">
                    </div>
                </div>
                <div style="margin-top:-3px;margin-bottom:10px;">
                    <input id="cr_bcheckbox_show_daxien" type="checkbox" />
                </div>
                <div id="cr_show_bDaxien" style="display:none;">
                    <div class="div-row-input-val">
                        <div class="row row-input-val">
                            <span>
                                Cò đá xiên hai:
                            </span>
                            <input type="number" step="any" tabindex="1" id="cr_bCoXienHai" value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.BCoXienHai)">
                        </div>
                        <div class="row row-input-val">
                            <span>
                                Trúng đá xiên hai:
                            </span>
                            <input type="number" step="any" tabindex="1" id="cr_bTrungXienHai" value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.BTrungXienHai)">
                        </div>
                    </div>
                    <div class="div-row-input-val">
                        <div class="row row-input-val">
                            <span>
                                Cò đá xiên ba:
                            </span>
                            <input type="number" step="any" tabindex="1" id="cr_bCoXienBa" value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.BCoXienBa)">
                        </div>
                        <div class="row row-input-val">
                            <span>
                                Trúng đá xiên ba:
                            </span>
                            <input type="number" step="any" tabindex="1" id="cr_bTrungXienBa" value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.BTrungXienBa)">
                        </div>
                    </div>
                    <div class="div-row-input-val">
                        <div class="row row-input-val">
                            <span>
                                Cò đá xiên bốn:
                            </span>
                            <input type="number" step="any" tabindex="1" id="cr_bCoXienBon" value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.BCoXienBon)">
                        </div>
                        <div class="row row-input-val">
                            <span>
                                Trúng đá xiên bốn:
                            </span>
                            <input type="number" step="any" tabindex="1" id="cr_bTrungXienBon" value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.BTrungXienBon)">
                        </div>
                    </div>
                </div>
                <div class="div-row-input-val">
                    <div class="row row-input-val">
                        <span>
                            Phần trăm tổng:
                        </span>
                        <input type="number" step="any" tabindex="1" id="cr_bPhanTramTong" required value="@(string.IsNullOrEmpty(Model.Name) &&  !Model.IsCopy ? "" : Model.BPhanTramTong)">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            var model = @Html.Raw(serializedModel);
            ej.base.enableRipple(true);

            // Initialize RadioButton component.
            if (model.IsChu){
                var radiobutton = new ej.buttons.RadioButton({ label: 'Khách', name: 'khachorchu', value: 'false', enableRtl: 'true'});
                radiobutton.appendTo('#cr_isKhach');
                radiobutton = new ej.buttons.RadioButton({ label: 'Chủ', name: 'khachorchu', value: 'true', enableRtl: 'true', checked: true });
                radiobutton.appendTo('#cr_isChu');
            }
            else{
                var radiobutton = new ej.buttons.RadioButton({ label: 'Khách', name: 'khachorchu', value: 'false', enableRtl: 'true', checked: true });
                radiobutton.appendTo('#cr_isKhach');
                radiobutton = new ej.buttons.RadioButton({ label: 'Chủ', name: 'khachorchu', value: 'true', enableRtl: 'true' });
                radiobutton.appendTo('#cr_isChu');
            }
            // Miền Nam
            radiobutton = new ej.buttons.RadioButton({ label: 'Một lần', name: 'cr_nCachTrungDaThang',value: '0', enableRtl: 'true' });
            radiobutton.appendTo('#cr_nCachTrungDaThang_motLan');
            radiobutton = new ej.buttons.RadioButton({ label: 'Ky rưỡi', name: 'cr_nCachTrungDaThang', value: '1', enableRtl: 'true' });
            radiobutton.appendTo('#cr_nCachTrungDaThang_kyRuoi');
            radiobutton = new ej.buttons.RadioButton({ label: 'Nhiều cặp', name: 'cr_nCachTrungDaThang', value: '2', enableRtl: 'true', checked: true });
            radiobutton.appendTo('#cr_nCachTrungDaThang_nhieuCap');
            //
            radiobutton = new ej.buttons.RadioButton({ label: 'Một lần', name: 'cr_nCachTrungDaXien', value: '0', enableRtl: 'true' });
            radiobutton.appendTo('#cr_nCachTrungDaXien_motLan');
            radiobutton = new ej.buttons.RadioButton({ label: 'Ky rưỡi', name: 'cr_nCachTrungDaXien',value: '1', enableRtl: 'true' });
            radiobutton.appendTo('#cr_nCachTrungDaXien_kyRuoi');
            radiobutton = new ej.buttons.RadioButton({ label: 'Nhiều cặp', name: 'cr_nCachTrungDaXien', value: '2', enableRtl: 'true', checked: true });
            radiobutton.appendTo('#cr_nCachTrungDaXien_nhieuCap');

            // Miền Trung
            radiobutton = new ej.buttons.RadioButton({ label: 'Một lần', name: 'cr_tCachTrungDaThang', value: '0', enableRtl: 'true' });
            radiobutton.appendTo('#cr_tCachTrungDaThang_motLan');
            radiobutton = new ej.buttons.RadioButton({ label: 'Ky rưỡi', name: 'cr_tCachTrungDaThang', value: '1', enableRtl: 'true' });
            radiobutton.appendTo('#cr_tCachTrungDaThang_kyRuoi');
            radiobutton = new ej.buttons.RadioButton({ label: 'Nhiều cặp', name: 'cr_tCachTrungDaThang', value: '2', enableRtl: 'true', checked: true });
            radiobutton.appendTo('#cr_tCachTrungDaThang_nhieuCap');
            //
            radiobutton = new ej.buttons.RadioButton({ label: 'Một lần', name: 'cr_tCachTrungDaXien', value: '0', enableRtl: 'true' });
            radiobutton.appendTo('#cr_tCachTrungDaXien_motLan');
            radiobutton = new ej.buttons.RadioButton({ label: 'Ky rưỡi', name: 'cr_tCachTrungDaXien', value: '1', enableRtl: 'true' });
            radiobutton.appendTo('#cr_tCachTrungDaXien_kyRuoi');
            radiobutton = new ej.buttons.RadioButton({ label: 'Nhiều cặp', name: 'cr_tCachTrungDaXien', value: '2', enableRtl: 'true', checked: true });
            radiobutton.appendTo('#cr_tCachTrungDaXien_nhieuCap');

            // Miền Bắc
            radiobutton = new ej.buttons.RadioButton({ label: 'Một lần', name: 'cr_bCachTrungDaThang', value: '0', enableRtl: 'true' });
            radiobutton.appendTo('#cr_bCachTrungDaThang_motLan');
            radiobutton = new ej.buttons.RadioButton({ label: 'Ky rưỡi', name: 'cr_bCachTrungDaThang', value: '1', enableRtl: 'true' });
            radiobutton.appendTo('#cr_bCachTrungDaThang_kyRuoi');
            radiobutton = new ej.buttons.RadioButton({ label: 'Nhiều cặp', name: 'cr_bCachTrungDaThang', value: '2', enableRtl: 'true', checked: true });

            if (model.IsChu || model.Name != null) {
                switch (model.NCachTrungDaThang) {
                    case 0:
                        var radioButtonElement = document.querySelector('input[name="cr_nCachTrungDaThang"][value="0"]');
                        if (radioButtonElement) {
                            radioButtonElement.checked = true;
                        }
                        break;
                    case 1:
                        var radioButtonElement = document.querySelector('input[name="cr_nCachTrungDaThang"][value="1"]');
                        if (radioButtonElement) {
                            radioButtonElement.checked = true;
                        }
                        break;
                    default:
                        var radioButtonElement = document.querySelector('input[name="cr_nCachTrungDaThang"][value="2"]');
                        if (radioButtonElement) {
                            radioButtonElement.checked = true;
                        }
                        break;
                }
                switch (model.NCachTrungDaXien) {
                    case 0:
                        var radioButtonElement = document.querySelector('input[name="cr_nCachTrungDaXien"][value="0"]');
                        if (radioButtonElement) {
                            radioButtonElement.checked = true;
                        }
                        break;
                    case 1:
                        var radioButtonElement = document.querySelector('input[name="cr_nCachTrungDaXien"][value="1"]');
                        if (radioButtonElement) {
                            radioButtonElement.checked = true;
                        }
                        break;
                    default:
                        var radioButtonElement = document.querySelector('input[name="cr_nCachTrungDaXien"][value="2"]');
                        if (radioButtonElement) {
                            radioButtonElement.checked = true;
                        }
                        break;
                }
                switch (model.TCachTrungDaThang) {
                    case 0:
                        var radioButtonElement = document.querySelector('input[name="cr_tCachTrungDaThang"][value="0"]');
                        if (radioButtonElement) {
                            radioButtonElement.checked = true;
                        }
                        break;
                    case 1:
                        var radioButtonElement = document.querySelector('input[name="cr_tCachTrungDaThang"][value="1"]');
                        if (radioButtonElement) {
                            radioButtonElement.checked = true;
                        }
                        break;
                    default:
                        var radioButtonElement = document.querySelector('input[name="cr_tCachTrungDaThang"][value="2"]');
                        if (radioButtonElement) {
                            radioButtonElement.checked = true;
                        }
                        break;
                }
                switch (model.TCachTrungDaXien) {
                    case 0:
                        var radioButtonElement = document.querySelector('input[name="cr_tCachTrungDaXien"][value="0"]');
                        if (radioButtonElement) {
                            radioButtonElement.checked = true;
                        }
                        break;
                    case 1:
                        var radioButtonElement = document.querySelector('input[name="cr_tCachTrungDaXien"][value="1"]');
                        if (radioButtonElement) {
                            radioButtonElement.checked = true;
                        }
                        break;
                    default:
                        var radioButtonElement = document.querySelector('input[name="cr_tCachTrungDaXien"][value="2"]');
                        if (radioButtonElement) {
                            radioButtonElement.checked = true;
                        }
                        break;
                }
                switch (model.BCachTrungDaThang) {
                    case 0:
                        var radioButtonElement = document.querySelector('input[name="cr_bCachTrungDaThang"][value="0"]');
                        if (radioButtonElement) {
                            radioButtonElement.checked = true;
                        }
                        break;
                    case 1:
                        var radioButtonElement = document.querySelector('input[name="cr_bCachTrungDaThang"][value="1"]');
                        if (radioButtonElement) {
                            radioButtonElement.checked = true;
                        }
                        break;
                    default:
                        var radioButtonElement = document.querySelector('input[name="cr_bCachTrungDaThang"][value="2"]');
                        if (radioButtonElement) {
                            radioButtonElement.checked = true;
                        }
                        break;
                }
            }

            radiobutton.appendTo('#cr_bCachTrungDaThang_nhieuCap');
            // Render initialized CheckBox.
            var checkbox = new ej.buttons.CheckBox({ label: 'Hiện đá xiên' });
            checkbox.appendTo('#cr_bcheckbox_show_daxien');
            checkbox.change = function (args) {
                var element = document.getElementById("cr_show_bDaxien");
                if (args.checked) {
                    element.style.display = "block";
                } else {
                    element.style.display = "none";
                }
            };
        });

        // Bắt sự kiện submit của biểu mẫu create
        document.getElementById("executePlayerForm").addEventListener("submit", function (event) {
            event.preventDefault(); // Ngăn chặn biểu mẫu gửi đi mặc định

            var selectedRadioKhachorchu = document.querySelector('input[name="khachorchu"]:checked');
            var selectedRadioCr_nCachTrungDaThang = document.querySelector('input[name="cr_nCachTrungDaThang"]:checked');
            var selectedRadioCr_nCachTrungDaXien = document.querySelector('input[name="cr_nCachTrungDaXien"]:checked');
            var selectedRadioCr_tCachTrungDaThang = document.querySelector('input[name="cr_tCachTrungDaThang"]:checked');
            var selectedRadioCr_tCachTrungDaXien = document.querySelector('input[name="cr_tCachTrungDaXien"]:checked');
            var selectedRadioCr_bCachTrungDaThang = document.querySelector('input[name="cr_bCachTrungDaThang"]:checked');

            var playerModel = {
                id: document.getElementById("cr_id").value,
                name: document.getElementById("cr_name").value,
                phoneNumber: document.getElementById("cr_phoneNumber").value, 
                isChu: selectedRadioKhachorchu.value,
                nCoBaoHaiCon: document.getElementById("cr_nCoBaoHaiCon").value,
                nTrungBaoHaiCon: document.getElementById("cr_nTrungBaoHaiCon").value,
                nCoHaiConDD: document.getElementById("cr_nCoHaiConDD").value,
                nTrungHaiConDD: document.getElementById("cr_nTrungHaiConDD").value,
                nCoDaThang: document.getElementById("cr_nCoDaThang").value,
                nTrungDaThang: document.getElementById("cr_nTrungDaThang").value,
                nCachTrungDaThang: selectedRadioCr_nCachTrungDaThang.value,
                nCoDaXien: document.getElementById("cr_nCoDaXien").value,
                nTrungDaXien: document.getElementById("cr_nTrungDaXien").value,
                nCachTrungDaXien: selectedRadioCr_nCachTrungDaXien.value,
                nCoBaCon: document.getElementById("cr_nCoBaCon").value,
                nTrungBaCon: document.getElementById("cr_nTrungBaCon").value,
                nCoBonCon: document.getElementById("cr_nCoBonCon").value,
                nTrungBonCon: document.getElementById("cr_nTrungBonCon").value,
                nPhanTramTong: document.getElementById("cr_nPhanTramTong").value,
                tCoBaoHaiCon: document.getElementById("cr_tCoBaoHaiCon").value,
                tTrungBaoHaiCon: document.getElementById("cr_tTrungBaoHaiCon").value,
                tCoHaiConDD: document.getElementById("cr_tCoHaiConDD").value,
                tTrungHaiConDD: document.getElementById("cr_tTrungHaiConDD").value,
                tCoDaThang: document.getElementById("cr_tCoDaThang").value,
                tTrungDaThang: document.getElementById("cr_tTrungDaThang").value,
                tCachTrungDaThang: selectedRadioCr_tCachTrungDaThang.value,
                tCoDaXien: document.getElementById("cr_tCoDaXien").value,
                tTrungDaXien: document.getElementById("cr_tTrungDaXien").value,
                tCachTrungDaXien: selectedRadioCr_tCachTrungDaXien.value,
                tCoBaCon: document.getElementById("cr_tCoBaCon").value,
                tTrungBaCon: document.getElementById("cr_tTrungBaCon").value,
                tCoBonCon: document.getElementById("cr_tCoBonCon").value,
                tTrungBonCon: document.getElementById("cr_tTrungBonCon").value,
                tPhanTramTong: document.getElementById("cr_tPhanTramTong").value,
                bCoBaoHaiCon: document.getElementById("cr_bCoBaoHaiCon").value,
                bTrungBaoHaiCon: document.getElementById("cr_bTrungBaoHaiCon").value,
                bCoHaiConDD: document.getElementById("cr_bCoHaiConDD").value,
                bTrungHaiConDD: document.getElementById("cr_bTrungHaiConDD").value,
                bCoDaThang: document.getElementById("cr_bCoDaThang").value,
                bTrungDaThang: document.getElementById("cr_bTrungDaThang").value,
                bCachTrungDaThang: selectedRadioCr_bCachTrungDaThang.value,
                bCoBaCon: document.getElementById("cr_bCoBaCon").value,
                bTrungBaCon: document.getElementById("cr_bTrungBaCon").value,
                bCoBonCon: document.getElementById("cr_bCoBonCon").value,
                bTrungBonCon: document.getElementById("cr_bTrungBonCon").value,
                bPhanTramTong: document.getElementById("cr_bPhanTramTong").value,
                bCoXienHai: document.getElementById("cr_bCoXienHai").value,
                bTrungXienHai: document.getElementById("cr_bTrungXienHai").value,
                bCoXienBa: document.getElementById("cr_bCoXienBa").value,
                bTrungXienBa: document.getElementById("cr_bTrungXienBa").value,
                bCoXienBon: document.getElementById("cr_bCoXienBon").value,
                bTrungXienBon: document.getElementById("cr_bTrungXienBon").value,
                isDeleted: false,
            }
            var playerModels = [playerModel];
            playerModels.push();
            ShowOverlay(true);
            playerJsons = JSON.stringify(playerModels);
            $.ajax({
                type: "POST",
                data:
                {
                    "playerJsons": playerJsons,
                },
                url: "@Url.Action("ExecutePlayer", "Phonebook")",
                success: function (data) {
                    if (data.success && data.data) {
                        awesomeAlert({
                            header: true,
                            type: 'success',
                            title: 'Thành công!',
                            message: 'Thành công.',
                            //bgColor: '#2dd284',
                            img: '/assets/images/icon/success.svg',
                            buttonOK: 'Xong!',
                            closeStyle: 'circle'
                        }).then(res => window.location = "/Phonebook/ListPlayer")
                    }
                    else {
                        var message = "Đã có lỗi xảy ra."
                        if (!isNullOrEmpty(data.message)) {
                            message = data.message;
                        }
                        awesomeAlert({
                            header: true,
                            type: 'error',
                            title: 'Có lỗi!',
                            message: message,
                            //bgColor: '#2dd284',
                            img: '/assets/images/icon/error.svg',
                            buttonOK: 'Oke!',
                            closeStyle: 'circle'
                        }).then(res => false)
                    }
                },
                error: function (xhr, status, error) {
                    awesomeAlert({
                        header: true,
                        type: 'error',
                        title: 'Có lỗi!',
                        message: 'Lỗi hệ thống',
                        //bgColor: '#2dd284',
                        img: '/assets/images/icon/error.svg',
                        buttonOK: 'Oke!',
                        closeStyle: 'circle'
                    }).then(res => false)
                },
                complete: function () {
                    hideOverlay();
                }
            })
        });

    </script>
</body>
</html>